/* CSS declarations go here */

*{
    color: white;
}

main {
    width: 87%;
    margin: auto;
}

nav {
    background-color: #4282D3;
    position: relative;
}

nav a:hover {
    color: grey;
}

.left_bar {
    display: inline-block;
}

.right_bar {
    position: absolute;
    display: inline-block;
    right: 0;
}

#content {
    background-color: #6997D3;
}

li {
    display: inline-block;
}

#logout{
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     border-bottom:1px solid #444;
     cursor: pointer;
}

.submit-button{
    background: white;
    color:#4282D3;
}

